{
  "dependencies": {
    "transport.Microsoft.NETCore.Runtime.CoreCLR": "2.0.0-preview1-25215-03",
    "Microsoft.NETCore.Platforms": "2.0.0-preview1-25214-03",
  },
  "frameworks": {
    "uap10.1": {}
  },
  "runtimes": {
    "{RID}": {}
  }
}
